<%= form_for @customer do |f| %>
  <p>
    <%= f.label :first_name %>
    <%= f.text_field :first_name, placeholder: 'Enter first name' %>
  </p>
  <p>
    <%= f.label :last_name %>
    <%= f.text_field :last_name, placeholder: 'Enter last name' %>
  </p>
  <p>
    <%= f.label :phone %>
    <%= f.telephone_field :phone, placeholder: 'Enter phone number' %>
  </p>
  <p>
    <%= f.label :email %>
    <%= f.email_field :email, placeholder: 'Enter email address' %>
  </p>
  <p>
    <%= f.submit(@customer.new_record? ? 'Register' : 'Update') %>
    <%= link_to 'Cancel', @customer.new_record? ? root_path : customer_path(@customer) %>
  </p>
<% end %>